.faq-accordion {
    .faq-accordion-question { 
        cursor: pointer; 

        &:after { content: ' +'; }
    }
    
    &.open .faq-accordion-question:after { content: ' -'; }
    .faq-accordion-answer { display: none; }
    &.open .faq-accordion-answer { display: block; }
}