.faq-accordion {
    .faq-accordion-question { 
        cursor: pointer; 

        &:after { 
            content: '+';
            font-size: 1.75rem;
            vertical-align: middle;
            padding-left: 10px;
        }
    }
    
    &.open .faq-accordion-question:after { content: '-'; }
    .faq-accordion-answer { display: none; }
    &.open .faq-accordion-answer { display: block; }
}